$icomoon-font-path: "fonts" !default;

$icon-plus: "\e907";
$icon-l-arrow2: "\e905";
$icon-r-arrow2: "\e906";
$icon-close: "\e904";
$icon-l-arrow: "\e902";
$icon-r-arrow: "\e903";
$icon-play: "\e901";
$icon-search: "\e900";

