$primaryTextColor: #7f8385;
$primaryHeaderColor: #37393a;
$primaryContainerBackgroundColor: black;

/* 

$primaryTextColor: #37393a;
$homeMainContainerBackground: white;
$firstValue: 62.5%;
$firstValue: 24px !default;

*/

body {
	background-color: #ffffff;
}

html, body {
    margin: 0;
    padding: 0;
}

.topnav {
	height: 68px;
	width: 100%;
	position: fixed;
	display: block !important;
	background-color: rgba(38, 40, 41, 0.9);
	z-index: 1 !important;
}

.topnav__content {
	max-width: 1280px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
}

.topnav__logo {
	width: 95px;
	display: block;
	padding-left: 25px;
	padding-top: 4px;
	float: left;
}

.topnav__search {
	width: 20px;
	display: block;
	padding-right: 25px;
	padding-top: 5px;
	float: right;
}

.block {
	margin: auto;
	max-width: 1280px;
	background-color: $primaryContainerBackgroundColor;
	height: 100%;
}

.infobox {
	background-color: white;
	display: flex; /* or inline-flex */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 90px;
	padding-bottom: 80px;
}

.infobox__item {
	width: 273px;
	height: 220px;
	background-color: white;
	display: inline-block;
	text-align: center;
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 1px 0px 0px #e5e5e6 inset;
}

.infobox__item--first {
	box-shadow: none;
}

.infobox__item:hover {
	cursor: hand;
}

.infobox__item:hover .infobox__title {
	color: rgba(127, 131, 133, 0.2);
}

.infobox__item:hover .infobox__text {
	color: rgba(127, 131, 133, 0.2);
}

.infobox__item:hover .infobox__link {
	display: block;
}

.infobox__title {
	margin: auto;
	font-size: 17.5px;
	font-family: 'Gotham-Medium', sans-serif;
	padding-bottom: 20px;
	color: #37393a;
}

.infobox__text {
	margin: auto;
	font-size: 14px;
	padding-right: 10px;
	padding-left: 10px;
	font-family: 'Gotham-Light', sans-serif;
	color: #7f8385;
	line-height: 145%;
}

.infobox__link {
	display: none;
	background-color: white;
	position: absolute;
	padding: auto;
	text-align: center;
	width: auto;
	height: auto;
	border: solid 0.5px #efad17;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 42px;
	margin-left: 50px;
	margin-top: 80px;
	padding-right: 30px;
	color: #efad17;
	font-family: 'Gotham-Medium', sans-serif;
	font-size: 14px;
}

.imagebox {
	margin: 25px;
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
}

.imagebox__full {
	height: 100%;
}

.imagebox__full--linkbox {
}

.imagebox__full:hover {
	background-color: red;
}

.imagebox__full:hover .imagebox__full--title {
	display: none;
}

.imagebox__full:hover .imagebox__full--link {
	display: block;
		opacity: 1;
}

.imagebox__full:hover .imagebox__full--image {
	opacity: 0.3;
}

.imagebox__full--title {
	display: block;
	margin-left: 30px;
	margin-top: 20px;
	position: absolute;
	color: white;
	opacity: 0.7;
	font-size: 14px;
	font-family: 'Gotham-Light', sans-serif;
}

.imagebox__full--image {
	background-color: red;
	height:100%;
	width: 100%;
}

.imagebox__full--linkcontainer {
	position: absolute;
	width:100%;
	max-width: 960px;
	min-width: 600px;
	height: 60px;
	overflow: hidden;
	background: yellow;
	margin: 0 auto;

}

.imagebox__full--link {
	display: none;
	background-color: grey;
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	border: solid 0.5px #efad17;
	margin: 0 auto;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	color: #efad17;
	font-family: 'Gotham-Medium', sans-serif;
	font-size: 14px;
	opacity: 1;
}

.imagebox__half {
	max-width: 49%;
	background-color: black;
	display: inline-flex;
	margin-bottom: 25px;
}

.imagebox__half--link {
	margin: auto;
	display: none;
	background: grey;
	position: absolute;
	padding: auto;
	text-align: center;
	border: solid 0.5px #efad17;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	color: #efad17;
	font-family: 'Gotham-Medium', sans-serif;
	font-size: 14px;
	margin-left: 230px;
	margin-top: 140px;
}

.imagebox__half:hover {
	cursor: hand;
}

.imagebox__half:hover .imagebox__half--title {
	display: none;
}

.imagebox__half:hover .imagebox__half--image {
	opacity: 0.3;
}

.imagebox__half:hover .imagebox__half--link {
	display: block;
}

.imagebox__half--title {
	display: block;
	margin-left: 30px;
	margin-top: 27px;
	position: absolute;
	opacity: 0.8;
	font-size: 14px;
	font-family: 'Gotham-Medium', sans-serif;
}

.imagebox__half--title.black {
	color: black;
}

.imagebox__half--title.white {
	color: white;
}

.imagebox__half--image {
	width: 100%;
	height: 100%;
}

.clients {
	width: 95%;
	display: block;
	margin: auto;
	padding-bottom: 100px;
}

.clients__title {
	text-align: center;
	float: center;
	position: relative;
	font-size: 24px;
	font-family: 'Gotham-Light', sans-serif;
	color: $primaryTextColor;
	padding-top: 50px;
}

.clients__list {
	margin: auto;
	background-color: white;
	display: flex; /* or inline-flex */
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.clients__item {
	background-color: white;
	width: 300px;
	height: 100px;
	display: block;
	margin: auto;
	margin-top: 60px;
}

.clients__item:hover .clients__item--logo {
	display: none;
}

.clients__item:hover .clients__item--link {
	display: block;
}

.clients__item--link {
	margin-left: 70px;
	margin-top: 27px;
	width: auto;
	height: auto;
	display: none;
	background-color: white;
	position: absolute;
	text-align: center;
	border: solid 0.5px #efad17;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 30px;
	padding-right: 30px;
	color: #efad17;
	font-family: 'Gotham-Medium', sans-serif;
	font-size: 14px;
}

.clients__item--logo {
	height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.contact {
	width: 100%;
	height: 600px;
	background-color: rgba(38, 40, 41, 0.9);
	position: relative;
	padding-bottom: 0px;
}

.contact__social {
	width: 40%;	
	margin: auto;
	padding-top: 180px;
	z-index: 1;
	position: absolute;
	padding-left: 800px;
}

.contact__social--title {
	font-size: 12px;
	color: #8b8b8a;
	font-family: 'Gotham-Medium', sans-serif;
	padding-bottom: 20px;
}

.contact__social--text {
	font-size: 16px;
	color: #8b8b8a;
	font-family: 'Gotham-Book', sans-serif;
	line-height: 26px;
	text-decoration: underline;
}

.footer {
	width: 100%;
	height: 100px;
	background-color: black;
	position: absolute;
	bottom: 0;
}

.underline {
    padding-bottom: 2px;
    border-bottom: grey 1px solid;
}

.video {
	width: 100%;
	position: absolute;
	margin: 0 auto;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  text-align: center;
  max-width: 1280px;
}

/* 



$primaryColor: #eeccff;

body {
  $primaryColor: #ccc !global;
  background: $primaryColor;
}

p {
  color: $primaryColor;
}

// When compiled, our paragraph selector's color is #ccc




$firstValue: 62.5%;

$firstValue: 24px !default;

body {
    font-size: $firstValue;
}

// body font size = 62.5%







.hello-form {
    p {
        color: red;
    }
}




*/

