html, body {
    height: 100%;
}

body {
    background-color: #fff;
    color: #000;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'gotham_book', sans-serif;
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

#wrap {
    flex: 1;
}

.light {
    font-family: 'gotham_light', sans-serif;
}

b, .bold {
    font-weight: normal;
    font-family: 'gotham_medium', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    font-size: 45px;
}

h2 {
    font-size: 25px;
    color: #37393a;
    font-weight: 500;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

.oyh {
    overflow-y: hidden;
}

.dn {
    display: none;
}

.fx {
    flex: 1;
}

img{
    max-width: 100%;
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}

.header {
    position: absolute;
    width: 100%;
    top: 80px;
    z-index: 10;
    background-color: transparent;
    transition: .2s background-color;
    &__inner {
        display: flex;
        align-items: center;
        min-height: 70px;
        &__logo {
            flex: 1;
        }
    }
    &.sticky {
        position: fixed;
        top: 0;
        background-color: rgba(40, 40, 47, 0.9);
        overflow: hidden;
        .logo__img {
            display: none;
            &2 {
                display: block;
            }
        }

    }
}

.logo {
    &__link {
        position: absolute;
        transform: translateY(-50%);
    }
    .logo__img2 {
        display: none;
        margin-left: 5px;
        margin-top: -3px;
    }
}

#menuOverlay {
    position: absolute;
    left: 0;
    right: -99em;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    div {
        top: 0;
        left: 0;
        position: absolute;
        background: rgba(255, 255, 255, 0.07);
        transform: translate(100%, -50%) rotate(-35deg);
        transform-origin: left;
        transition: .2s transform;
        width: 100%;
        height: 1440px;
        @media (max-width: 5120px) {
            height: 7440px;
        }
        @media (max-width: 3840px) {
            height: 5340px;
        }
        @media (max-width: 2560px) {
            height: 3640px;
        }
        @media (max-width: 1920px) {
            height: 2400px;
        }
        @media (max-width: 1680px) {
            height: 2040px;
        }
        @media (max-width: 1366px) {
            height: 1440px;
        }
        @media (max-width: 1024px) {
            height: 1100px;
        }
        @media (max-width: 768px) {
            height: 768px;
        }
    }
}

.menu {
    display: flex;
    position: relative;
    &-item {
        padding-left: 45px;
        &:nth-child(1) {
            &.current-menu-item,
            &.current-menu-parent {
                & ~ #menuOverlay div {
                    transform: translate(60px, -50%) rotate(-35deg);
                }
            }
        }
        &:nth-child(2) {
            &.current-menu-item,
            &.current-menu-parent {
                & ~ #menuOverlay div {
                    transform: translate(160px, -50%) rotate(-35deg);
                }
            }
        }
        &:nth-child(3) {
            &.current-menu-item,
            &.current-menu-parent {
                & ~ #menuOverlay div {
                    transform: translate(250px, -50%) rotate(-35deg);
                }
            }
        }
        &:nth-child(3):hover {
            & ~ #menuOverlay div {
                transform: translate(250px, -50%) rotate(-35deg);
            }
        }
        &:nth-child(1):hover {
            & ~ #menuOverlay div {
                transform: translate(60px, -50%) rotate(-35deg);
            }
        }
        &:nth-child(2):hover {
            & ~ #menuOverlay div {
                transform: translate(160px, -50%) rotate(-35deg);
            }
        }

        &.current-menu-item a {
            color: $yellow;
        }

        a {
            position: relative;
            color: #fff;
            font-size: 15px;
            padding: 5px 0;
            cursor: pointer;
            &:hover {
                color: $yellow;
            }
        }
    }

}

.search {
    font-size: 22px;
    margin-left: 50px;
    position: relative;
    &__btn {
        color: #fff;
        &:hover {
            color: $yellow;
        }
    }
}

.vModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 11;
    display: none;
    &__bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
    }
    &__container {
        max-width: 1280px;
        margin: auto;
        position: relative;
    }
    &__video {
        margin: auto;
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    &__close {
        position: absolute;
        z-index: 12;
        color: #fff;
        top: 40px;
        right: 50px;
        font-size: 24px;
        cursor: pointer;
        &:hover {
            color: $yellow;
        }
    }
    &.on {
        display: block;
    }
}

.diagonalBtn {
    display: inline-block;
    color: $yellow;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px 40px;
    border: 1px solid $yellow;
    font-size: 14px;
    border-radius: 2px;
    margin-top: 10px;
    font-weight: bold;
    position: relative;
    transition: .2s;
    span {
        position: relative;
    }
    &:before {
        content: '';
        position: absolute;
        background: $yellow;
        left: -1px;
        top: -1px;
        bottom: -1px;
        right: -1px;
        border-radius: 2px;
        @extend .clip;
        transition: .1s;
    }
    &:hover {
        color: #fff;
        &:before {
            transition: .3s;
            @extend .clip2;
        }
    }

}

.footer {
    background: #000;
    color: #616161;
    &__wrapper {
        display: flex;
        padding: 25px 0;
        font-size: 12px;
    }
    &__left {
        flex: 1;
    }

    &__right__link {
        color: #616161;
        box-shadow: -1px 0 #616161;
        margin-left: 10px;
        padding-left: 10px;
        &:first-child {
            box-shadow: none;
        }
        &:hover {
            color: #fff;
        }
    }
}

.pluses {
    position: relative;
    pointer-events: none;
    margin: 30px;
    &__inner {
        color: rgba(0, 0, 0, 0.2);
        font-size: 10px;
        @extend .icomoon;
        &:before,
        &:after {
            content: $icon-plus;
            display: inline-block;
        }
        &:before {
            margin-left: -5px;
        }
        &:after {
            float: right;
            margin-right: -5px;
        }
    }
    &--float {
        position: absolute;
        width: 100%;
        bottom: 95px;
        margin: 0;
    }
    &--float &__inner {
        color: rgba(255, 255, 255, 0.2);
    }

}





