@media (max-width: 1199px) {
  h4 {
    font-size: 14px;
  }
  .header {
    @include sticky;
  }

  #menuOverlay{
    display: none;
  }

  .mMenu {
    position: fixed;
    width: 200px;
    height: 100%;
    background: #000;
    right: 0;
    left: 100%;
    z-index: 13;
    display: block;
    transition: .2s all;
    top: 0;
    /*   transform: translate3d(0px,0px,0px); */

    .menu-header-container {
      display: block;
    }
    .menu {
      display: block;
    }
    .menu-item {
      padding: 15px 20px;
    }
  }

  body {
    transition: .2s left;
    position: relative;
    left: 0;
    padding-top: 70px;
    //translate3d breaks fixed child divs top pos
    //transform: translate3d(0,0,0);
    .header{
      transition: .2s left;
    }
    &.mMenuOn {
      left: -200px;

      .header{
        left: -200px;
      }
      .mMenu {
        transform: translateX(-200px);
      }

    }
  }

  .menu-header-container {
    display: none;
  }
  .header__ham {
    display: block;
  }

  .slider__progress {
    display: none;
  }
  .hSlider {
    &__video {
      display: none;
    }
    &__poster {
      clip-path: none;
      -webkit-clip-path: none;
    }
    &__body {
      margin: -80px 0 0 0;
      opacity: 1;
      transform: translate(-50%, -50%);
    }
    &__title {
      white-space: nowrap;
    }
  }
  .services {
    padding-top: 20px;
    &__item {
      flex: 260px;
      margin-top: 10px;
      box-shadow: none;
    }
  }
  .works {
    margin-top: 20px;
  }
  .social__wrapper {
    height: auto;
  }
  .sModal {
    &__logo {
      top: 0px;
    }
    &__close {
      top: 20px;
    }
    &__inner {
      padding-top: 80px;
    }
  }
  div#ajaxsearchpro1_1 {
    width: auto;
  }

  div#ajaxsearchprores1_1.vertical {
    padding: 0 20px;
    width: auto !important;
    .results {
      margin-top: 10px;
    }
  }
  #seeAll .container {
    padding: 0;
  }
  .hSlider--about {
    padding-top: 0;
  }
  .headItems {
    height: 200px;
  }

  .welcome {
    padding: 40px 0;
  }

  .services__head__inner {
    padding-top: 20px;
  }

  .pluses {
    margin: 10px 0;
  }

  .servicesWrap--about .pluses1 {
    margin-bottom: 0px;
  }

  .servicesWrap--about .pluses2 {
    padding-top: 0;
    padding-bottom: 10px;
  }

  .servicesWrap--about .services__item {
    box-shadow: none;
  }

  .stats__head__inner {
    padding-top: 20px;
  }

  .stats__num {
    font-size: 70px;
  }

  .stats .pluses1 {
    margin: 10px 0;
  }

  .stats__body {
    width: 300px;
  }

  .headItems__link {
    margin: 0 5px;
    font-size: 16px;
    padding-bottom: 20px;
  }

  .awardsTags__item {
    font-size: 10px;
    padding: 4px;
  }

  .works__inner__title {
    font-size: 16px;
  }
  .works__inner__desc {
    font-size: 14px;
  }

  .diagonalBtn {
    padding: 10px;
  }

  .works--cats .works__item--case .works__inner {
    box-shadow: 0 0 0 5px #efad17 inset;
  }

  .workHead__items {
    height: 200px;
  }

  .fullWidthText,
  .halfWidthText,
  .halfWidthText__item,
  .imageVideoSet,
  .cSliderWrap,
  .credits {
    margin-top: 20px;
  }

  .credits {
    margin-bottom: 20px;
  }

  .credits__cols {
    padding-bottom: 20px;
  }

  .fullWidthText__body {
    column-count: initial;
  }

  .credits__rows__title,
  .credits__rows__body,
  .contactFooter div {
    font-size: 12px;
  }

  .application__inner {
    padding-top: 20px;
  }

  .application__section {
    padding: 20px 0;
  }

  .application__field {
    margin-top: 10px;
  }

  .headItems__icon {
    margin-bottom: 20px;
  }

}

@media (max-width: 767px) {
  h2{
    font-size: 20px;
  }
  .hSlider__dots {
    display: none;
  }

  .hSlider__arrow {
    display: none !important;
  }
  .hSlider__dots {
    display: none !important;
  }
  .hSlider__body {
    margin-top: 0;
  }
  .hSlider__play,
  .hSlider__title {
    font-size: 26px;
  }

  .hSlider__date {
    display: none;
  }
  .hSlider__msg {
    display: none;
  }

  .works__item {
    width: 100%;
  }

  .works__inner{
      padding-bottom: 56.25% !important;
  }

  .brands__list{
  }

  .social__video{
    display: none;
  }
  .social__pointer{
    display: none;
  }

  .social__map{
    background-image: none !important;
  }

  .social__wrapper{
    font-size: 12px;
  }
  .footer__left{
    opacity: 0;
  }
  .welcome__body{
    column-count: inherit;
  }

  .stats__list{
    display: block;
  }

  .stats__item{
    margin-bottom: 20px;
    &:after{
      display: none;
    }
  }

  .stats__body{
    display: none;
  }

  .headItems{
    height: 150px;
    &--cats{
      height: auto;
      flex-direction: column;
      align-items: flex-start;
      padding-top: 80px;
      .headItems__link{
        padding-bottom: 2px;
        margin-bottom: 10px;
        opacity: 1;
        border-bottom-width: 3px;
      }
      .headItems__item{
        flex: 0;
      }
    }
  }

  .awardsTags{
    right: 5px;
  }

  .works__head__sortBy{
    margin-right: 0;
  }

  .works__inner__desc{
    margin-bottom: 0;
  }

  .works__inner:hover{
    .awardsTags{
      z-index: -2;
    }
  }

  .diagonalBtn{
    font-size: 12px;
  }

  div#ajaxsearchpro1_1 .probox .proinput input.orig{
    font-size: 18px;
    &::-webkit-input-placeholder{
      font-size: 18px;
    }

  }

  div#ajaxsearchprores1_1.vertical{
    padding: 0 15px !important;
  }
  .asp_res_url,
  #seeAll .container a{
    font-size: 13px !important;
    padding-left: 5px !important;
    height: 50px !important;
    display: flex;
    align-items: center;
  }
  .r_terms{
    display: none;
  }

  .headItems__item.fx{
    display: none;
  }

  .works__head__inner{
  }

  .works__head__keyword{
    .s1{
      display: none;
    }
  }

  .workHead__link{
    font-size: 16px;
    padding-bottom: 10px;
  }

  .halfWidthText__item{
    display: block;
  }

  .imageVideoSet__item{
    width: 100%;
  }

  .credits__cols{
    display: block;
  }

  .credits__col{
    width: 100%;
    padding-left: 0;
    padding-bottom: 20px;
  }

  .cSliderWrap{
    overflow: hidden;
  }

  .cSlider__arrow__prev{
    margin-left: -130px;
  }

  .cSlider__arrow__next{
    margin-left: 130px;
  }

  .contactFooter{
    padding-top: 20px;
  }

  .contactFooter__cols{
    display: block;
  }

  .contactFooter__col{
    padding-rigth: 0;
    padding-bottom: 20px;
  }

  .wpgmza_map{
    height: 300px !important;
  }

  .wpgmza_markerbox{
    width: auto !important;
  }

  .application__field{
    width: 100%;
    padding-bottom: 20px;
  }

  .opts{
    column-count: inherit;
  }

  .mModal__inner{
    width: 96%;
    padding: 20px;
  }

  .mModal__footer{
    margin-top: 20px;  
  }
  .awardsTags{
    display: none;
  }
  .services__item__btnWrapper{
    opacity: 0;
  }
  .brands__item__btnWrapper{
    opacity: 0 !important;
  }

}
